@import "tailwindcss";
body{
  direction: rtl;
  padding: 0 0;
  background-color: rgb(241, 218, 234);
}
.logo{
  border-radius: 50%;
}
.NavbarTop{
  background-color:rgb(251, 227, 243) ;
}
.slick-slide > div {
  margin: 0 8px;
}
.slick-arrow {
  top: 50%;
  transform: translateY(-50%);
}




.slider-container .slick-track {
  display: flex !important;
  align-items: center;
}

.slider-container .slick-prev,
.slider-container .slick-next {
  top: 50% !important;
  transform: translateY(-50%) !important;
  z-index: 100;
}

.slider-container .slick-prev {
  left: -45px;
}

.slider-container .slick-next {
  right: -45px;
}

.text-color{
  color: rgb(81, 81, 82);
}


.candle-body {
  width: 26px;
  height: 78px;
  background: linear-gradient(#fff, #f2f2f2);
  border-radius: 3px;
  margin: 0 auto;
}
@keyframes flameMove {
  0% {
    transform: translateX(-50%) scale(1) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) scale(1.1) rotate(2deg);
  }
  100% {
    transform: translateX(-50%) scale(1) rotate(-2deg);
  }
}

.flame {
  position: absolute;
  top: -34px;
  left: 50%;
  width: 20px;
  height: 44px;
  background: radial-gradient(circle at 50% 30%, #fff 10%, #ffd966 40%, #ff9800 70%);
  border-radius: 50% 50% 50% 50%;
  animation: flameMove 0.8s ease-in-out infinite;
}






@keyframes slideIn {
  0% {
    rotate: -20deg;
    
  }
  50% {
    rotate: 20deg;
    
  }
  100%{
    rotate: -20deg;
  }
}
.box{
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
